
<div>
  <form [formGroup]="creditCardForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="cardNumber">Credit Card Number</label>
      <input
        id="cardNumber"
        formControlName="cardNumber"
        [type]="showCardNumber ? 'text' : 'password'"
        (input)="formatCardNumber()"
        maxlength="19"
      />
      <button type="button" (click)="toggleShowCardNumber()">
        {{ showCardNumber ? 'Hide' : 'Show' }}
      </button>
    </div>

    <div>
      <label for="month">Month</label>
      <select id="month" formControlName="month">
        <option *ngFor="let month of months" [value]="month">{{ month }}</option>
      </select>
    </div>

    <div>
      <label for="year">Year</label>
      <select id="year" formControlName="year">
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
    </div>

    <div>
      <label for="cvv">CVV</label>
      <input id="cvv" formControlName="cvv" maxlength="4" />
    </div>

    <div>
      <label for="address1">Address Line 1</label>
      <input id="address1" formControlName="address1" />
    </div>

    <div>
      <label for="address2">Address Line 2</label>
      <input id="address2" formControlName="address2" />
    </div>

    <div>
      <label for="city">City</label>
      <input id="city" formControlName="city" />
    </div>

    <div>
      <label for="state">State</label>
      <select id="state" formControlName="state">
        <option *ngFor="let state of states" [value]="state">{{ state }}</option>
      </select>
    </div>

    <div>
      <label for="zip">Zip Code</label>
      <input id="zip" formControlName="zip" />
    </div>

    <button type="submit">Submit</button>
  </form>

  <div>
    <h3>Debug Info</h3>
    <pre>{{ creditCardForm.value | json }}</pre>
  </div>
</div>
